In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import json
sns.set()

### CREACIÓN DE FUNCIONES

##### FUNCIÓN CANTIDAD PELÍCULAS POR MES

Creo la función def cantidad_filmaciones_mes( Mes )

Se ingresa un mes en idioma Español. 

Debe devolver la cantidad de películas que fueron estrenadas en el mes consultado en la totalidad del dataset.

Ejemplo de retorno: X cantidad de películas fueron estrenadas en el mes de X

In [2]:
# Levanto el csv de producción y lo convierto en dataframe

data_movies_produccion = pd.read_csv('.\Datasets\movies_dataset_produccion.csv')
df_movies_produccion = pd.DataFrame(data_movies_produccion)

<>:3: SyntaxWarning: invalid escape sequence '\D'
<>:3: SyntaxWarning: invalid escape sequence '\D'
C:\Users\User\AppData\Local\Temp\ipykernel_3020\3827214167.py:3: SyntaxWarning: invalid escape sequence '\D'
  data_movies_produccion = pd.read_csv('.\Datasets\movies_dataset_produccion.csv')

In [3]:
df_movies_produccion.head(10)

,adult,id,overview,popularity,title,vote_average,vote_count,release_year,release_month,genre,country,principal_cast,director
0,False,55475,Balbuena is a genial illegal immigrant who mak...,0.291021,Nueba Yol,5.5,1.0,1995,8,Comedy,Dominican Republic,NaN,Ángel Muñiz
1,False,18183,"Tita is passionately in love with Pedro, but h...",4.126083,Like Water for Chocolate,6.6,70.0,1992,4,Drama,Mexico,NaN,NaN
2,False,12527,"Havana, Cuba, 1979. Flamboyantly gay artist Di...",1.777197,Strawberry and Chocolate,7.1,16.0,1993,1,Comedy,Cuba,NaN,NaN
3,False,8223,"Kika, a young cosmetologist, is called to the ...",3.647321,Kika,6.8,58.0,1993,10,Comedy,France,NaN,NaN
4,False,4307,"Marisa Paredes is Leocadia (""Leo"") Macias, a w...",2.286788,The Flower of My Secret,6.9,43.0,1995,9,Drama,Spain,Marisa Paredes,NaN
5,False,62364,For financial reasons an unemployed aspiring a...,1.133409,Mouth to Mouth,5.5,5.0,1995,11,Comedy,Spain,NaN,NaN
6,False,123763,A viceroy and an archbishop take their posts i...,0.202495,"I, the Worst of All",6.8,3.0,1990,8,Drama,Argentina,NaN,María Luisa Bemberg
7,False,43777,A patriot (René Lavan) with a rebellious broth...,0.401227,Bitter Sugar,6.3,3.0,1996,2,Drama,United States of America,NaN,NaN
8,False,146341,NaN,0.564117,Bird of Prey,0.0,0.0,1995,9,Crime,United States of America,NaN,NaN
9,False,49688,"Based on real events, 17-year-old Johnny Garcí...",0.149107,Johnny 100 Pesos,6.3,3.0,1993,1,Drama,Chile,NaN,NaN

In [4]:
# Primero tengo que convertir la columna release_month (que está el mes en número) a nombre del mes

# Con este diccionario mapeeo los números de los meses a nombres en español
meses = {
    1: 'enero', 2: 'febrero', 3: 'marzo', 4: 'abril', 
    5: 'mayo', 6: 'junio', 7: 'julio', 8: 'agosto', 
    9: 'septiembre', 10: 'octubre', 11: 'noviembre', 12: 'diciembre'
}

# Creo una nueva columna con los nombres de los meses
df_movies_produccion['release_month_name'] = df_movies_produccion['release_month'].map(meses)

# Elimino la columna release_month pues ya no la usare
df_movies_produccion = df_movies_produccion.drop(columns=['release_month'])

In [5]:
def cantidad_filmaciones_mes(df):
    # Armo una lista de meses válidos en español para que luego me avierta si lo ingresado no es un mes
    meses_validos = [
        'enero', 'febrero', 'marzo', 'abril', 
        'mayo', 'junio', 'julio', 'agosto', 
        'septiembre', 'octubre', 'noviembre', 'diciembre'
    ]
    
    # Solicito al usuario que ingrese un mes
    mes = input("Por favor, ingrese un mes en español para saber cuántas películas fueron estrenadas en esa fecha: ").strip().lower()
    
    # Verifico si el mes ingresado es válido
    if mes not in meses_validos:
        return f"El mes '{mes}' no es válido. Por favor, ingresa un mes correcto."
    
    # Cuento las películas estrenadas en el mes especificado
    cantidad = df[df['release_month_name'].str.lower() == mes].shape[0]
    
    return f"{cantidad} películas fueron estrenadas en el mes de {mes}."

In [6]:
# Uso la función
cantidad_filmaciones_mes(df_movies_produccion)

'97 películas fueron estrenadas en el mes de abril.'

##### FUNCIÓN INGRESAR TÍTULO Y RECIBIR AÑO DE ESTRENO Y POPULARIDAD

Creo la función def score_titulo( titulo_de_la_filmación ): 

Se ingresa el título de una filmación esperando como respuesta el título, el año de estreno y el score.

Ejemplo de retorno: La película X fue estrenada en el año X con un score/popularidad de X

In [54]:
df_movies_produccion.columns

Index(['adult', 'id', 'overview', 'popularity', 'title', 'vote_average',
       'vote_count', 'release_year', 'genre', 'country', 'principal_cast',
       'director', 'release_month_name'],
      dtype='object')

In [62]:

def score_titulo(df):
    # Solicito al usuario que ingrese el título de la película
    titulo = input("Por favor, ingresa el título de una película de habla hispana: ").strip().lower()
    
    # Filtro el dataframe para encontrar la película por título
    pelicula = df[df['title'].str.lower() == titulo]
    
    # Advierto si no encuentra la película
    if pelicula.empty:
        return f"No se encontró ninguna película con el título '{titulo}'."
    
    # Obtengo los datos de la película
    titulo_pelicula = pelicula['title'].values[0]
    año_estreno = pelicula['release_year'].values[0]
    score = pelicula['popularity'].values[0]
    
    return f"La película '{titulo_pelicula}' fue estrenada en el año {año_estreno} con un score/popularidad de {score}."

In [63]:
# Uso la función
score_titulo(df_movies_produccion)

"La película 'Like Water for Chocolate' fue estrenada en el año 1992 con un score/popularidad de 4.126083."

##### FUNCIÓN INGRESAR TÍTULO Y RECIBIR PROMEDIO VOTACIONES

Creo la función def votos_titulo( titulo_de_la_filmación )

Se ingresa el título de una filmación esperando como respuesta el título, la cantidad de votos y el valor promedio de las votaciones. 

La misma variable deberá de contar con al menos 2000 valoraciones, caso contrario, debemos contar con un mensaje avisando que no cumple esta condición y que por ende, no se devuelve ningún valor.

Ejemplo de retorno: La película X fue estrenada en el año X. La misma cuenta con un total de X valoraciones, con un promedio de X

In [78]:
# Exploro media, mediana y moda para encontrar mi filtro a la hora de considerar qué películas consiederar
# La consiga ponía ese filtro en 2000 valoraciones, pero mi dataset es de apenas 1000 peliculas
# Elijo las películas que tengan más de 10 valoraciones, es decir un poco más arriba de la mediana, para que entre casi la mitad de las peliculas del dataet

media = df_movies_produccion['vote_count'].mean()
mediana = df_movies_produccion['vote_count'].median()
moda = df_movies_produccion['vote_count'].mode()[0]

print(f"Media: {media}")
print(f"Mediana: {mediana}")
print(f"Moda: {moda}")

Media: 31.892028254288597
Mediana: 8.0
Moda: 1.0

In [81]:
def votos_titulo(df):
    # Solicito al usuario que ingrese el título de la película
    titulo = input("Por favor, ingresa el título de una película de habla hispana: ").strip().lower()
    
    # Filtro el dataframe para encontrar la película por título
    pelicula = df[df['title'].str.lower() == titulo]
    
    # Advierto si no encuentra la película
    if pelicula.empty:
        return f"No se encontró ninguna película con el título '{titulo}'."
    
    # Obtengo los datos de la película
    titulo_pelicula = pelicula['title'].values[0]
    cantidad_votos = pelicula['vote_count'].values[0]
    
    # Verifico si la cantidad de votos es menor a 10
    if cantidad_votos < 10:
        return f"La película '{titulo_pelicula}' no cuenta con la siguiente cantidad de valoraciones para ser considerada."
    
    promedio_votos = pelicula['vote_average'].values[0]
    
    return f"La película '{titulo_pelicula}' recibió {cantidad_votos} votos y su promedio de valoración fue de {promedio_votos}."

In [84]:
# Uso la función
votos_titulo(df_movies_produccion)

"La película 'Nueba Yol' no cuenta con la siguiente cantidad de valoraciones para ser considerada."